/* 名字改成.pretterrc 好了 */
{
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "trailingComma": "all",
  "tabWidth": 4
}
